.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.padding-bottom {
  padding-bottom: 94px;
}
.padding-top {
  padding-top: 94px;
}

.margin-center {
  margin: 0 25px 0 25px;
}
