.section-offer {
  padding: 0 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--section-offer-color);
}

.background-offer {
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/offer-section/bg.jpg);
  padding: 200px 0;
}
.section-offer-div {
  justify-content: center;
  align-items: center;
}
.section-offer-h2 {
  margin: auto;
  margin-bottom: 20px;
  color: #ffffff;
  width: 696px;
  height: 120px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.img-section-offer {
  position: relative;
}

.section-offer-button {
  width: 200px;
  height: 50px;
  background: var(--fontblue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
